In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.13)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (39.0.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
start_date = '2021-01-01'
end_date = '2022-01-01'
import pandas as pd
tickers_list = ['AAPL', 'NKE', 'IBM', 'GOOGL','AXP','AMZN']

# Fetch the data
import yfinance as yf
data = yf.download(tickers_list,start_date,end_date)['Adj Close']

# Print first 5 rows of the data
print(data.head())

[*********************100%***********************]  6 of 6 completed
                  AAPL        AMZN         AXP      GOOGL         IBM  \
Date
2021-01-04  127.679993  159.331497  114.787941  86.306503  106.178673
2021-01-05  129.258606  160.925507  115.400589  87.002502  108.063393
2021-01-06  124.907562  156.919006  119.669632  86.143997  110.761986
2021-01-07  129.169815  158.108002  118.723045  88.717003  110.504982
2021-01-08  130.284714  159.134995  118.840141  89.891502  110.110901

                   NKE
Date
2021-01-04  137.185104
2021-01-05  138.291580
2021-01-06  139.388290
2021-01-07  141.934189
2021-01-08  143.305038

In [ ]:
data

,AAPL,AMZN,AXP,GOOGL,IBM,NKE
Date,,,,,,
2021-01-04,127.679993,159.331497,114.787941,86.306503,106.178673,137.185104
2021-01-05,129.258606,160.925507,115.400589,87.002502,108.063393,138.291580
2021-01-06,124.907562,156.919006,119.669632,86.143997,110.761986,139.388290
2021-01-07,129.169815,158.108002,118.723045,88.717003,110.504982,141.934189
2021-01-08,130.284714,159.134995,118.840141,89.891502,110.110901,143.305038
...,...,...,...,...,...,...
2021-12-27,179.016129,169.669495,161.724579,147.906494,123.879158,165.327255
2021-12-28,177.983688,170.660995,161.744247,146.686996,124.829758,164.182846
2021-12-29,178.073029,169.201004,161.173676,146.654999,125.507423,166.511108
2021-12-30,176.901627,168.644501,161.498322,146.200500,126.034485,165.238480
2021-12-31,176.276230,166.716995,160.947388,144.852005,125.799179,164.429474

We are having 5 shares of Apple,Amazon,American Express,Google,IBM,Nike as our  portfolio which we would look to optimize using Modern Portfolio Theory

In [ ]:
returns=data.pct_change()
returns.head()

                AAPL      AMZN       AXP     GOOGL       IBM       NKE
Date
2021-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2021-01-05  0.012364  0.010004  0.005337  0.008064  0.017750  0.008066
2021-01-06 -0.033662 -0.024897  0.036993 -0.009868  0.024972  0.007930
2021-01-07  0.034123  0.007577 -0.007910  0.029869 -0.002320  0.018265
2021-01-08  0.008631  0.006496  0.000986  0.013239 -0.003566  0.009658

.pct_change helps us to know how that stock moved with respect to the last day by giving us the percentage change.The first column is NAN because we have no column to compare the first column with 

---
Returns of a company is the gain/loss of the portfolio during a particular time frame.We took the timeframe one day with respect to our case

We can see in the head that stocks with negative pct_change fell down in value when they closed on the subsequent day and the positive pct_change signifies that the stocks went up in the value when they closed

In [ ]:
weights_of_portfolio=[0.2,0.1,0.35,0.2,0.1,0.05]
return_portfolio=returns.dot(weights_of_portfolio)
return_portfolio.head()

Date
2021-01-04         NaN
2021-01-05    0.009132
2021-01-06    0.004646
2021-01-07    0.011469
2021-01-08    0.005495
dtype: float64

We will now assign random weights to different assets which will be rectified later to get the best stock portfolio 

---
Return of a portfolio will be return of the assets multiplied the weights given to the particular stock so that we make a balanced portfolio 

---
Keep in Mind that weights_of_portfolio should be equal to 1

In [ ]:
#Risk
covariance_portfolio=returns.cov()*252

For risk management we will use covariance 
What is covariance:- Co-Variance of stock signifies that the movement of the stock with respect to another stock.Positive Co-Variance means that the stock will rise if the other stock rises,Negative Co-Variance means that the stock A will decrease if Stock B will rise.

---
For Risk management we will try to get a negative co-variance as to minimize the risk because if one stock will fall down we would have a another stock to rise up so that all of our money wouldn't fall down 

---
we Multiplied 252 days as these are number of the days stock would be traded

In [ ]:
covariance_portfolio

           AAPL      AMZN       AXP     GOOGL       IBM       NKE
AAPL   0.062577  0.035510  0.007383  0.033364  0.003103  0.018065
AMZN   0.035510  0.057798  0.005791  0.034272 -0.000264  0.017036
AXP    0.007383  0.005791  0.077956  0.017616  0.018899  0.017769
GOOGL  0.033364  0.034272  0.017616  0.059080  0.003181  0.018677
IBM    0.003103 -0.000264  0.018899  0.003181  0.052250  0.004830
NKE    0.018065  0.017036  0.017769  0.018677  0.004830  0.078500

In [ ]:
import numpy as np

In [ ]:
portfolio_variance=np.transpose(weights_of_portfolio)@covariance_portfolio@weights_of_portfolio

The @ symbol signifies the matmul symbol which would signify the matrix multiplication of covariance with their respective weights we multiply it twice so that element of each weight gets covered

In [ ]:
portfolio_volatility=np.sqrt(portfolio_variance)

In [ ]:
portfolio_volatility

0.16799617605631986

In [ ]:
port_returns=[]
port_volatility=[]
port_weights=[]
num_assets=len(data.columns)
num_portfolios=10000

individual_returns=data.resample('M').last().pct_change().mean()

In [ ]:
port_returns

[]

We will use the modern portfolio theory for this use in this we get to know that whenever we have to make a portfolio of a stock we have to maximize the returns for a given stock but if we can not find a maximum value we will look to minimize the risk for a particular stock 

---
For Minimizing risk for a particular stock we will find the volatilty with respect to the stock by initializing random weights and we will find the minimum risk for that particular weight

In [ ]:
individual_returns

AAPL     0.029987
AMZN     0.005151
AXP      0.034585
GOOGL    0.044839
IBM      0.021266
NKE      0.023558
dtype: float64

In [ ]:
len(individual_returns)

6

In [ ]:
for port in range(num_portfolios):
  weights=np.random.random(num_assets)
  weights=weights/np.sum(weights)
  port_weights.append(weights)
  returns=np.dot(weights,individual_returns)
  port_returns.append(returns)
  var=covariance_portfolio.mul(weights,axis=0).mul(weights,axis=1).sum().sum()
  var=var*250
  sd=np.sqrt(var)
  port_volatility.append(sd)

We will store random weights and then look returns and variance for each weight and store them in a list 

---
Now we are using 10000 variables in the dataset so that we can get a overall weights of all combined we can use even more but for this project I am taking 10000 iterations

---
We will multiply the random weights to find the volatility of the stock for that weight and then find the returns from that stock as well to see the risk vs reward ratio to decide the final thing

In [ ]:
len(port_weights)

10000

In [ ]:
len(port_returns)

10000

In [ ]:
len(port_volatility)

10000

In [ ]:
data1={'Volatility':port_volatility,'Returns':port_returns}
for counter,symbol in enumerate(data.columns.tolist()):
  data1[symbol+'weight']=[w[counter] for w in port_weights]

We will now move forward to make a dataframe of the dataset to find the minimum value and the weight ratio 

---
This will be used to find the minimum volatilty for the maximum returns so that we find the portfolio

In [ ]:
portfolios=pd.DataFrame(data1)

In [ ]:
portfolios

,Volatility,Returns,AAPLweight,AMZNweight,AXPweight,GOOGLweight,IBMweight,NKEweight
0,2.478364,0.031823,0.209680,0.013144,0.086910,0.321952,0.284058,0.084256
1,2.519213,0.026353,0.146105,0.194558,0.237859,0.143628,0.105733,0.172117
2,2.656529,0.024920,0.237266,0.229948,0.323201,0.027974,0.039082,0.142529
3,2.837063,0.028380,0.104908,0.175616,0.060564,0.318762,0.031055,0.309094
4,2.895391,0.024857,0.305180,0.314383,0.023345,0.240966,0.114220,0.001906
...,...,...,...,...,...,...,...,...
9995,2.915121,0.020388,0.289782,0.398622,0.010490,0.109718,0.063896,0.127492
9996,2.785669,0.023073,0.174314,0.393285,0.097803,0.224782,0.099805,0.010011
9997,2.414039,0.026750,0.176179,0.159090,0.200839,0.151518,0.196793,0.115581
9998,2.705057,0.022608,0.151382,0.375627,0.237353,0.114813,0.030547,0.090278
9999,2.462796,0.026198,0.208932,0.007317,0.084265,0.061634,0.353060,0.284792

In [ ]:
minimum_volatility=portfolios.iloc[portfolios['Volatility'].idxmin()]

In [ ]:
minimum_volatility

Volatility     2.324615
Returns        0.022415
AAPLweight     0.109475
AMZNweight     0.197720
AXPweight      0.119185
GOOGLweight    0.062907
IBMweight      0.375141
NKEweight      0.135571
Name: 329, dtype: float64

This shows us the minimum risk of a portfolio with it's respective returns

In [ ]:
rf=0.01
sharpe=portfolios.iloc[((portfolios['Returns']-rf)/portfolios['Volatility']).idxmax()]

We are finding the sharpe ratio to find the sharpe ratio we would introduce a risk factor which predefined risk factor is the risk exposures which drive the return

In [ ]:
sharpe

Volatility     2.720726
Returns        0.035865
AAPLweight     0.143528
AMZNweight     0.010881
AXPweight      0.124489
GOOGLweight    0.500272
IBMweight      0.189694
NKEweight      0.031136
Name: 9946, dtype: float64